@import "reset.css";

:root {
  --color-diskette: #2c2c2b;
}

body {
  background-color: aqua;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.diskette {
  height: 600px;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: var(--color-diskette);
  border-radius: 15px;
}

.diskette-top-container {
  width: 540px;
  height: 250px;
  display: flex;
  justify-content: center;
}

.metal-container {
  width: 350px;
  height: 210px;
  background: black;
  display: flex;
  justify-content: right;
  border-end-start-radius: 20px;
  box-shadow: 0 0 15px rgb(107 106 106) inset;
}

.metal {
  width: 300px;
  height: 210px;
  background: white;
  display: flex;
  justify-content: right;
  align-items: center;
  border-end-start-radius: 8px;
  border-end-end-radius: 5px;
}

.metal-hole {
  width: 50px;
  height: 150px;
  background: black;
  margin-right: 20px;
}

.diskette-bottom-container {
  width: 90%;
  height: 360px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.sticker {
  width: 350px;
  height: 290px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 60px;
  border: 1px solid black;
}
